# Required, find them on https://manage.sanity.io
NEXT_PUBLIC_SANITY_PROJECT_ID=juzvn5an
NEXT_PUBLIC_SANITY_DATASET=dev
# see https://www.sanity.io/docs/api-versioning for how versioning works
NEXT_PUBLIC_SANITY_API_VERSION='2023-01-01'
NEXT_PUBLIC_VERCEL_URL=localhost:3000
NEXT_PUBLIC_VERCEL_ENV=local

# Indicates whether only a subset of pages is built eagerly.
NEXT_PUBLIC_PARTIAL_BUILD=true

# Enables bundle analyzer
ANALYZE=false

# For previews
SANITY_API_READ_TOKEN=

# Sanity ISR token. Should not be required locally normally
ISR_TOKEN=

# Google recaptcha public key
# Required when submitting forms. Key generation guide here: https://developers.google.com/recaptcha/docs/v3
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=undefined

# Serverless function to process form submissions
NEXT_PUBLIC_FORMS_API='https://zksx0lbaai.execute-api.us-east-1.amazonaws.com/default/FormsAPIPOC-Mailchimp/'

#GOOGLE TAG MANAGER
NEXT_PUBLIC_GTM_ID=GTM-M57XXD9

# Serverless function for Inquiry Form submissions
NEXT_PUBLIC_INQUIRY_ENDPOINT='https://api.zwirner.tech/inquiry'

# Serverless function for Newsletter signup
NEXT_PUBLIC_SUBSCRIBE_ENDPOINT='https://api.zwirner.tech/joinNewsletters'

# Ids for newsletter signup topics
NEXT_PUBLIC_SUBSCRIBE_TOPIC_NEWS_ID=
NEXT_PUBLIC_SUBSCRIBE_TOPIC_SALES_ID=
NEXT_PUBLIC_SUBSCRIBE_TOPIC_BOOKS_ID=
# hydrogen-react config
NEXT_PUBLIC_STOREFRONT_API_TOKEN=
NEXT_PUBLIC_STORE_DOMAIN=
NEXT_PUBLIC_STOREFRONT_API_VERSION=
NEXT_PRIVATE_STOREFRONT_API_TOKEN=

# Sentry
NEXT_PUBLIC_SENTRY_DSN=''
SENTRY_AUTH_TOKEN=''
