{
  "extends": "next",
  "plugins": ["react", "react-hooks", "@typescript-eslint", "simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@zwirner/design-system",
            "importNames": ["DzPortableText"],
            "message": "Import it from @/components/wrappers/DzPortableText instead."
          },
          {
            "name": "@zwirner/design-system",
            "importNames": ["DzLink"],
            "message": "Import it from @/components/wrappers/DzLink instead."
          }
        ]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react/prop-types": 0
  }
}
