@zwirner:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GH_TOKEN}

# nodeLinker: node-modules

# npmScopes:
#   zwirner:
#     npmAlwaysAuth: true
#     npmAuthToken: '${GH_TOKEN:-}'
#     npmRegistryServer: 'https://npm.pkg.github.com'

# yarnPath: .yarn/releases/yarn-3.5.1.cjs
