.pageContainer {
  @apply flex
    w-full
    flex-col
    gap-[3.75rem]
    md:gap-[7.5rem];
}

.pageTitleContainer {
  @apply my-[3.75rem];
}

.pageTitle {
  @apply text-xl
    capitalize md:text-xxl;
}

.interstitial {
  @apply gap-10 px-0 sm:py-[3.75rem];
}

.interstitialTitle {
  @apply text-md
  md:!text-lg;
}

.cardSection {
  @apply flex
  flex-col
  gap-10;
}

.textGrid {
  @apply text-md md:text-xl;
}

.spacer {
  @apply md:h-[3.75rem]
    md:w-full;
}
