.pageContainer {
  @apply flex
    w-full
    flex-col
    gap-[3.75rem]
    md:gap-[7.5rem];
}

.pageTitleContainer {
  @apply my-10
  md:my-[3.75rem];
}
.pageTitle {
  @apply text-xl
    md:text-xxl;
}

.interstitialTitle {
  @apply md:!text-lg;
}
