.container {
  @apply relative
  flex
  w-full
  flex-col
  scroll-smooth
  whitespace-pre-wrap
  md:flex-row;
}

.colContainer {
  @apply mb-0;
}

.leftPane {
  @apply no-scrollbar
  relative
  flex
  h-fit
  h-[calc(100vh-60px)]
  basis-1/3
  flex-col
  overflow-y-scroll
  pt-10
  md:sticky
  md:top-[60px];
}
.leftPaneContent {
  @apply flex-1;
}
.rightPane {
  @apply flex
  basis-2/3
  flex-col;
}

.ctaContainer {
  @apply fixed
  bottom-0
  left-0
  z-[300]
  w-full
  px-[1.25rem]
  md:sticky
  md:px-0;
}

.ctaContainerTop {
  @apply h-[1rem]
  bg-gradient-to-t
  from-white-100
  opacity-75;
}

.ctaBody {
  @apply bg-white-100
  py-[0.625rem]
  md:py-[1.25rem];
}

.btnCTA {
  @apply w-full;
}

.subtitle {
  @apply italic
  !text-black-100;
}

.learnMore {
  @apply mt-[1.25rem];
}

.artworkDetailText {
  @apply mb-[0.675rem]
  text-black-60;
}
