.h1 {
  @apply text-xl
  md:max-w-[57.9375rem]
  md:text-xxl;
}
.singleParagraph {
  @apply mx-auto
  my-0
  text-sm
  md:text-md;
}
.grayParagraph {
  @apply mx-auto
  my-0
  block
  max-w-[43.125rem]
  text-xs
  text-black-60;
}
.containerSpacer {
  @apply my-[3.75rem]
  w-full
  md:my-[7.5rem];
}
.h1Container {
  @apply mb-[3.75rem]
  md:-mx-[7.6875rem]
  md:mb-[7.5rem];
}
