.pageContainer {
  @apply
    w-full
    flex
    flex-col
    gap-10
    mt-10
    mb-[3.75rem]
    md:gap-[3.75rem]
    md:mt-[3.75rem]
    md:mb-[7.5rem]
  ;
}
.mainTitle {
  @apply
    md:text-xxl
    capitalize
  ;
}
