.pageContainer {
  @apply mt-10
    mb-[3.75rem]
    flex
    w-full
    flex-col
    gap-10
    md:mt-[3.75rem]
    md:mb-[7.5rem]
    md:gap-[3.75rem];
}
.mainTitle {
  @apply capitalize
    md:text-xxl;
}
