.backNavContainer {
  align-items: center;
  display: flex;
  height: 3.125rem;
  /*TODO remove negative margin when breadcrumb component is implemented*/
  margin-bottom: -1.25rem;
}

.backArrowIcon {
  display: inline-block;
  margin-right: 0.625rem;
}

.backLink {
  display: inline-block;
}
