.leftColumn {
  @apply md:min-h-[calc(100vh-60px-90px)];
}

.leftPane {
  @apply relative
  !flex
  h-fit
  h-full
  flex-col
  scrollbar-none
  md:sticky
  md:top-[60px]
  md:pt-10;
}

.leftPaneContent {
  @apply flex-1;
}

.rightPane {
  @apply flex
  flex-col
  md:mb-[7.5rem];
}

/*hide first item in mobile*/
.rightPane > div > div > div:first-child {
  @apply hidden
  md:block;
}

.ctaContainer {
  @apply sticky
  bottom-0
  left-0
  z-[10]
  col-span-12
  md:sticky
  md:w-full
  md:max-w-[580px]
  md:px-0;
}

.ctaContainerTop {
  @apply h-[2rem]
  bg-gradient-to-t
  from-white-100
  opacity-75;
}

.ctaBody {
  @apply bg-white-100
  pb-[1.25rem]
  pt-[1.25rem];
}

.ctaButtonsContainer {
  @apply flex
  md:block;
}

.btnCTA {
  @apply mt-[1.25rem]
  w-full;
}

.btnCTASecondary {
  @apply mt-[1.25rem]
  border-none;
}

.header {
  @apply mb-[1.25rem];
}
.subtitle {
  @apply italic
  !text-black-100;
}

.subtitleYear {
  @apply !text-black-100;
}

.learnMore {
  @apply mt-[1.25rem];
}

.artworkDetailText {
  @apply mb-[0.675rem]
  text-black-60;
}

.textSectionContainer {
  @apply mb-[0.675rem];
}

.priceAndCurrency {
  @apply text-black-100;
}

.framed {
  @apply ml-[1.5rem]
  text-black-60
  md:ml-0;
}

.priceAndFramingContainer {
  @apply flex
  md:block;
}

.descriptionContainer {
  @apply mb-[7.5rem];
}
