/* Take into consideration the gap from the grid */
.heroContainer {
  @apply mb-[2.5rem]
    md:mb-[6.25rem];
}

.pressReleaseContainer {
  @apply mb-[2.5rem]
    md:mb-[6.25rem];
}

.containerBottomGap {
  @apply mt-[3.75rem]
    w-full
    md:mt-[7.5rem];
}
